@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

@media (width <=480px) {
    html {
        font-size: 14px;
    }
}

@media (width > 480px) {
    html {
        font-size: 16px;
    }
}

@media (width > 768px) {
    html {
        font-size: 18px;
    }
}

@media (width > 1024px) {
    html {
        font-size: 20px;
    }
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #0b0b0b;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #00E5FF;
    transition: color 0.3s ease, transform 0.3s ease;
}

.content-section {
    padding: 1em 2em;
    width: 100%;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(30px);
    animation: slideIn 0.8s ease forwards;
}

@keyframes slideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.site-footer {
    padding: 1em 2em;
    color: #f5f5f5;
    width: 100%;
    text-align: center;
    flex: 0;
    font-size: 0.7em;
}